h1 ,h3 {padding-left:.5em}  h1{font-size: 30px;}
@media screen and (min-width: 481px) {}
@media screen and (min-width: 960px) {
    #container { 
   margin: 0 auto;
   width: 80%;
   display: flex;
   justify-content: space-between;}
}

  #news  {max-height: 400px; overflow: scroll; overflow-x: hidden;}
 #tcontainer table {overflow: scroll; overflow-y: hidden;}
#backtohome {text-align : center; font-weight:bold;}

a {color: #00e3ee; text-decoration:none;}

table{width: 100%; text-align: center; font-weight: bold;}
tbody th{padding: 0 0 0 30px;
  background-repeat: no-repeat;
  background-position: 10px 5px; background-size: 30px 30px;}
th {background-color: #152426;} 
tr {height:40px}
body {background-color: #001717;color: white;}
#pid1001 th{  background-image: url(logos/bitcoin-btc-logo.svg);}
#pid1002 th{  background-image: url(logos/ethereum-eth-logo.svg);}
#pid1003 th{  background-image: url(logos/bitcoin-cash-bch-logo.svg);}
#pid1004 th{  background-image: url(logos/litecoin-ltc-logo.svg);}
#pid1005 th{  background-image: url(logos/xrp-xrp-logo.svg);}
#pid1006 th{  background-image: url(logos/nem-xem-logo.svg);}
#pid1007 th{  background-image: url(logos/stellar-xlm-logo.svg);}
#pid1008 th{  background-image: url(logos/basic-attention-token-bat-logo.svg);}
#pid1009 th{  background-image: url(logos/omg-omg-logo.svg);}
#pid1010 th{  background-image: url(logos/tezos-xtz-logo.svg);}
#pid1011 th{  background-image: url(logos/qtum-qtum-logo.svg);}
#pid1012 th{  background-image: url(logos/enjin-coin-enj-logo.svg);}
#pid1013 th{  background-image: url(logos/polkadot-new-dot-logo.svg);}
#pid1014 th{  background-image: url(logos/cosmos-atom-logo.svg);}
#pid1020 th{  background-image: url(logos/cardano-ada-logo.svg);}
